<h1 class="text-center">Welcome to YelpDemo</h1>
<h3 style='text-align:center;'>Yelpdemo is the best way to find reviews on local restaurants.<br>
Explore the favorite diners, pastry shops, and eateries in your community.</h3>
